.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background: white;
  border: 1px solid black;
  width: 34px;
  height: 34px;
  text-align: center;
  margin-top: -1px;
  margin-left: -1px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  line-height: 34px;
}

.highlighted {
  background: limegreen;
  border: 1px solid black;
  width: 34px;
  height: 34px;
  text-align: center;
  margin-top: -1px;
  margin-left: -1px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  line-height: 34px;
}

/* Require .scss (sass) */
/* .highlighted {
  @extend .square;
  background: limegreen;
} */

.board-row {
  clear: both;
  content: '';
  display: table;
}

.button {
  border: 1px solid black;
  background: lightgrey;
  margin: 0 0 5px 0;
  width: fit-content;
}
